<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Which Stitch?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    function api_call() {
        console.log("starting call");
        //var formData = new FormData($('form')[0])
        url = '/api?output=' + $('#output').attr('src')
        console.log(url)
        $.get('/api?output=' + $('#output').attr('src')).done(function(response) {
            console.log('response');
        });
        /*
        $.ajax({
            url: '/api',
            method: 'POST',
            contentType: false,
            processData: false,
            data: formData, // new FormData($('form')[0]),
            dataType: 'json',
            cache: false,
            async: false,
            success: function( response ){
                console.log(response);
                console.log("success!");
            },
            error: function( error ){
                // $('#api_output').html( "There was an error" );
                console.log( error );
            },
            timeout: 120000
        });
        */

        return false;
    }
    function ResizeImage() {
        var filesToUpload = document.getElementById('imageFile').files;
        var file = filesToUpload[0];

        // Create an image
        var img = document.createElement("img");
        // Create a file reader
        var reader = new FileReader();
        // Set the image once loaded into file reader
        reader.onload = function(e) {
            img.src = e.target.result;

            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            var MAX_WIDTH = 100;
            var MAX_HEIGHT = 100;
            var width = img.width;
            var height = img.height;

            // resize smallest dimension to 100 px, other dim is >= 100
            if (width < height) {
                if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                }
            } else { // if height < width
                if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                }
            }
            canvas.width = width;
            canvas.height = height;
            ctx.drawImage(img, 0, 0, width, height);

            var dataurl = canvas.toDataURL("image/jpg");
            outputimg = document.getElementById('output');
            outputimg.src = dataurl;
            console.log(outputimg);

        }
        // Load files into file reader
        reader.readAsDataURL(file);
    };

</script>
<script type="text/javascript">

</script>
</head>

        <input id="imageFile" type="file"><input type="button" value="Resize Image" onclick="ResizeImage()"/>

        <img src="" id="output" name="output">
        <button id="predictbtn" onclick="api_call()">Predict</button>


    <br>
</html>