<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script type="text/javascript">
    function api_call(input) {
        var formData = new FormData()
        formData.append('image', input)
        $.ajax({
            url: "https://whichstitch.herokuapp.com/api",
            method: 'POST',
            contentType: 'False',
            data: formData,
            success: function( data, textStatus, jQxhr ){
                $('#api_output').html( data.output );
                $("#input").val("");
            },
            error: function( jqXhr, textStatus, errorThrown ){
                $('#api_output').html( "There was an error" );
                console.log( errorThrown );
            },
            timeout: 3000
        });
    }
</script>
    <input type="file" value="Take Photo" name=image accept="image/*" capture="environment">
    <input type="button" id="predictbtn" value="Predict stitch" style="visibility: hidden">
    <div id="api_output"></div>
<script type="text/javascript">
    var input = document.querySelector('input[type=file]');

    input.onchange = function () {
      var file = input.files[0];

      upload(file);
      displayAsImage(file); // see Example 7
      predictbtn = document.getElementById('predictbtn')
      predictbtn.style.visibility = "visible"
      predictbtn.onclick = function () { api_call(file); };
    };

    function upload(file) {
      var form = new FormData(),
          xhr = new XMLHttpRequest();

      // form.append('image', file);
      // xhr.open('post', 'server.php', true);
      // xhr.send(form);
    }

    function displayAsImage(file) {
        var imgURL = URL.createObjectURL(file),
            img = document.createElement('img');

        img.onload = function() {
            URL.revokeObjectURL(imgURL);
        };

        img.src = imgURL;
        document.body.appendChild(img);
    }
</script>
</html>