<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Which Stitch?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {background-color: powderblue;}
        p    {font-family: Garamond; text-align: center;}
    </style>

<script type="text/javascript">
    function api_call() {
        console.log("starting call");
        imageData = $('#output').attr('src')
        $.ajax({
            url:'/api',
            method: 'POST',
            cache: false,
            processData: false,
            contentType: 'application/json',
            dataType: 'json',
            success: function(response){
                console.log(response);
                pred1 = response['pred1']
                console.log(pred1)
                pred2 = response['pred2']
                console.log(pred2)
                window.location = "/output?id="+pred1+"&next="+pred2;
            },
            data: JSON.stringify({image: imageData})
        });
        return false;
    }
    function ResizeImage() {
        var filesToUpload = document.getElementById('imageFile').files;
        var file = filesToUpload[0];

        // Create an image
        var img = document.createElement("img");
        // Create a file reader
        var reader = new FileReader();
        // Set the image once loaded into file reader
        reader.onload = function(e) {
            img.src = e.target.result;

            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            var MAX_WIDTH = 100;
            var MAX_HEIGHT = 100;
            var width = img.width;
            var height = img.height;
            var resize = width;

            // resize smallest dimension to 100 px, other dim is >= 100
            if (width < height) {
                if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                }
            } else { // if height < width
                resize = height;
                if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                }
            }
            canvas.width = MAX_WIDTH;
            canvas.height = MAX_HEIGHT;
            ctx.drawImage(img, 0, 0, resize, resize, 0, 0, MAX_WIDTH, MAX_HEIGHT);

            var dataurl = canvas.toDataURL("image/jpg");
            outputimg = document.getElementById('output');
            outputimg.src = dataurl;
            outputimg.style.borderStyle = "double";
            console.log(outputimg);
            document.getElementById("predictbtn").style.visibility = "visible";

        }
        // Load files into file reader
        reader.readAsDataURL(file);
    };

</script>
<script type="text/javascript">

</script>
</head>
        <p style="font-size:60px;padding:0px;margin:0px;font-family:Garamond;">WhichStitch?</p>
        <p style="font-size:20px;margin:0px;font-style:italic;">A neural network that classifies knitted stitches</p>
        <p style="margin-bottom:0"><strong>Directions:</strong> Upload an image from your computer or take an image with your phone.
            <br/>Then, click on "Predict" and wait a few moments for the prediction to appear.</p>
        <div style="text-align:center;padding:30px">
            <div style="text-align:center">
                <label onchange="ResizeImage();ResizeImage();" style="height:50px;border-radius:5px;background-color:white;padding: 16px 20px 16px 20px;box-shadow:3px 3px;font-size:13px;font-family:Verdana;font-weight:bold">Choose Image
                <input style="display:none" id="imageFile" type="file" accept="image/jpeg">
                </label>
            </div>
            <br/>
            <img style="margin:30px;border-style:none;border-width:5px" src="" id="output" name="output">
            <br/>
            <button style="visibility:hidden;height:50px;border:none;border-radius:5px;margin-right:4px;background-color:white;box-shadow:3px 3px;padding: 0 20px 0 20px;font-family:Verdana;font-weight:bold;font-size:20px" id="predictbtn" onclick="api_call()">Predict</button>
        </div>


    <br>
</html>